/* utilize a regra @import para importar uma fonte do google fontes */


/* use o seletor universal * para resetar os estilos que já vem predefinido do navegador para que você estilize como quiser */


/* Coloque o mesmo estilo no body das páginas login e cadastro */



/*Estilo da imagem logo*/
.logo {
  width: 150px; 
  margin-bottom: 20px; 
  border-radius: 18px;
  margin-bottom: 5px;
}

/* Estilize a classe container de forma que organize todos os elementos dentro dele */



/* Estilo para o pseudo-elemento ::before do elemento com a classe container */
.container::before { 
  content: "";  /*cria um conteúdo vazio antes do conteúdo real do elemento*/
  position: absolute; /*usamos para colocar esta camada exatamente no lugar certo dentro da nossa caixa */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); 
  border-radius: 10px; 
  z-index: 0; 
}

/* Faça a estilização que é comum as classes login e logo, e desse forma enxugue o seu código */



.login {
  display: flex; 
  justify-content: center; 
  align-items: center;
  flex-direction: column; 
  gap: 20px; /*coloca um espaço de 20 pixels entre cada item, para que eles não fiquem grudados um no outro.*/
}

/* Estilize a tag h2 que está dento da classe login */


.login .inputBx {
  width: 100%; 
}

.login .inputBx label {
  display: block;/*Os rótulos(label) irão se comportar como blocos de construção que se empilham*/
  color: #9ca3ab;
  margin-bottom: 5px; 
}

.login .inputBx input {
  width: 100%;
  padding: 12px 20px; 
  background: linear-gradient(to bottom, #555, #000);
  border: 2px solid #9ca3ab; 
  border-radius: 10px; 
  font-size: 1.2em; 
  color: #fff; 
}

/* Estilize a sub-classe placeholder de todos os imputs que estão dentro de um elemento inputBx que por sua vez está dentro do elemento login */



.button {
  width: 100%; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

.button button {
  width: 100%;
  padding: 12px 20px;
  background: linear-gradient(to right, #000, #555); 
  border: none;
  border-radius: 10px; 
  font-size: 1.2em;
  color: #000; 
  font-weight: 900;
  cursor: pointer; 
  transition: background-color 0.3s ease; 
}

/* altere o fundo de um botão quando o mouse estiver sobre ele, aplicando um gradiente linear, faça isso estilizando a pseudo-classe hover de button */


.social-icons {
  display: flex;
  justify-content: center;
  gap: 20px; 
}

.social-icons i {
  font-size: 2em; 
  color: #9ca3ab; 
  cursor: pointer; 
  transition: color 0.3s ease; 
}

.social-icons i:hover {
  color: #896bb6; 
}

.text-center {
  text-align: center;
  color: #9ca3ab; 
}

.text-center a {
  color: #9ca3ab; 
  text-decoration: none; 
}

.text-center a:hover {
  text-decoration: underline; 
}

.social-login-text {
  font-size: 0.8em; 
  color: #9ca3ab; 
}

